@media (max-width: 3840px) {

  /* header */

  .burger {
    display: none;
  }

  .burger-nav {
    display: none;
  }

  /* slider */

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-top: auto;
  }

   .swiper {
    max-width: 1770px;
  }

  .slider__content {
    padding: 100px 80px 30px 80px;
    min-height: 620px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }

  /* about-us */

  .about-us__hidden-block {
    display: none;
  }

  .about-us__blocks__right-side__top-block {
    padding: 65px 60px;
  }

  /* working-process */

  .tabs-item__descr {
    max-width: 41%;
  }

  .working-process__slider-block::before {
    left: 51%;
    height: 116%;
  }

  .tabs-list {
    margin-bottom: 41px;
  }

  /* faq */

  .faq__accordion__top {
    padding-top: 31px;
  }

  .faq__accordion__btn:hover {
    transition-property: transform, color, background-color, border;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .faq__accordion__top:hover, .faq__accordion__top:focus-within {
    border-color: var(--default-color);
    position: relative;
    z-index: 1;
  }

  .faq__accordion__top:hover .faq__accordion__btn,
  .faq__accordion__top:focus-within .faq__accordion__btn {
    background-color: var(--default-color);
    border-color: var(--default-color);
    color: #fff;
    outline: none;
  }

  .faq__accordion__top:hover h3,
  .faq__accordion__top:focus-within h3 {
    color: var(--default-color);
  }

  .faq__accordion__top:focus-within {
    outline: 0;
  }

  .faq__accordion__items.is-active .faq__accordion__top {
    border-color: var(--gray-color);
  }

  .faq__accordion__items.is-active .faq__accordion__btn {
    transform: rotate(45deg);
    background-color: var(--gray-color);
    border-color: var(--gray-color);
    color: #000;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .faq__accordion__items.is-active .faq__accordion__items__text {
    color: #000;
  }

  .faq__accordion__items.is-active .faq__accordion__top {
    border-bottom: none;
    transition: border-bottom .3s ease-in-out;
  }

  .faq__accordion__items.is-active .faq__accordion__top+.faq__accordion__bottom {
    border-bottom: 1px solid var(--gray-color);
    position: relative;
    z-index: 2;
  }

  .faq__accordion__items.ac {
    margin: 0;
    border: none;
  }

  .faq__accordion__bottom {
    line-height: 2;
    border-bottom: none;
  }

  /* footer */

  .footer__container {
    padding: 50px 75px;
  }

  .form__input {
    width: 101%;
  }

  .footer__all-blocks__left-block {
    flex-basis: 20.5%;
  }

}

@media (max-width: 1735px) {

  /* about-us */

  .about-us__blocks {
    flex-direction: column;
  }

  .about-us__blocks__left-side {
    margin-right: 0;
    margin-bottom: 32px;
    min-height: 640px;
  }

  .about-us__blocks__left-side__overlay__descr {
    max-width: 70%;
  }

}

@media (max-width: 1380px) {

  /* working-process */

  .tabs-content {
    min-height: 689px;
  }

  .tabs-item[data-target="one"]::before {
    background-image: url('../img/working-process-1024-1.jpg');
  }

  .tabs-item[data-target="two"]::before {
    background-image: url('../img/working-process-1024-2.jpg');
  }

  .tabs-item[data-target="three"]::before {
    background-image: url('../img/working-process-1024-3.jpg');
  }

  .tabs-item[data-target="four"]::before {
    background-image: url('../img/working-process-1024-4.jpg');
  }

  /* footer */

  .footer__all-blocks__right-block {
    display: none;
  }
}

@media (max-width: 1280px) {

  .container {
    padding: 0 50px;
  }

  /* header */

  .header {
    position: relative;
  }

  .header__container {
    padding: 26px 50px;
  }

  .burger {
    display: block;
    position: relative;
    min-width: 30px;
    min-height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: auto;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #000;
    transform: translateX(-50%);
  }

  .burger__line:first-child {
    top: -10%;
  }

  .burger__line:last-child {
    bottom: 10%;
  }

  .burger__line:nth-child(2) {
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger:focus {
    outline-offset: 5px;
    outline: 2px solid var(--default-color);
  }

  .burger-nav__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-nav__close:focus {
    outline: 1px solid #333;
    outline-offset: 3px;
  }

  .burger-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 38px 50px 50px;
    background-color: #fff;
    height: 100vh;
    width: 40%;
    opacity: 0;
    z-index: 2;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .burger-nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .burger-nav__list {
    display: block;
  }

  .burger-nav__item__link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
    text-decoration-line: none;
  }

  .burger-nav__item__link:focus {
    outline-offset: 3px;
    outline: 1px solid #333;
  }

  .burger-nav__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .burger-nav__close {
    margin-bottom: 107px;
  }

  .header__logo__img {
    width: 150px;
  }

  .form-container {
    margin-left: 0%;
  }

  .search {
    margin-left: auto;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__nav {
    display: none;
  }

  /* slider */

  .slider__container {
    padding: 36px 50px 20px;
  }

  .slider__content {
    padding: 157px 80px 30px 78px;
    background-size: cover;
    width: 100%;
    min-height: 668px;
  }

  .slide-1 {
    background-image: url('../img/slider-1024-1.jpg');
  }

  .slide-2 {
    background-image: url('../img/slider-1024-2.jpg');
  }

  .slide-3 {
    background-image: url('../img/slider-1024-3.jpg');
  }

  .slider__list {
    margin-top: 115px;
  }

  .main__h1 {
    font-size: 60px;
    line-height: 76px;
    margin-bottom: 11px;
  }

  .about-us__blocks {
    flex-direction: column;
  }

  .slider__text__descr {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 60px;
    max-width: 86%;
  }

  .slider__list {
    margin-top: 111px;
  }

  /* about-us */

  .about-us__container {
    padding: 18px 50px 50px;
  }

  .about-us .main__h2 {
    margin-bottom: 19px;
  }

  .about-us__blocks__left-side {
    min-height: 640px;
    margin-bottom: 32px;
    width: 100%;
    background-size: cover;
    background-position: 50% 0%;
  }

  .about-us__descr {
    margin-bottom: 58px;
  }

  .about-us__blocks__right-side__top-block {
    padding: 65px 76px;
  }

  .about-us__blocks__right-side__down-block {
    padding: 65px 76px;
  }

  .about-us__blocks__right-side__text__descr {
    margin-top: 8px;
  }

  .about-us__blocks__left-side__overlay__descr {
    max-width: 59%;
  }

  /* working-process */

  .working-process__container {
    padding: 28px 50px 50px;
  }

  .tabs-list {
    margin-bottom: 48px;
  }

  .working-process .main__h3 {
    margin-bottom: 8px;
  }

  .tabs-list {
    margin-bottom: 43px;
  }

  .tabs-item::before {
    left: 53%;
  }

  .tabs-item__descr {
    max-width: 46%;
    margin-bottom: 26px;
  }

  .tabs-item__descr {
    min-width: 46%;
    margin-bottom: 26px;
  }

  /* faq */

  .faq__container {
    padding: 32px 50px 82px;
  }

  .faq__accordion__items__text {
    font-size: 20px;
    max-width: 756px;
    line-height: 33px;
  }

  .faq__accordion__top {
    padding-top: 30px;
  }

  /* footer */

  .footer__container {
    padding: 49px 54px 45px 49px;
  }

  .footer__all-blocks__left-block {
    flex-basis: 40%;
  }

  .footer__all-blocks__right-block {
    display: none;
  }

  .footer__all-blocks__centr-block {
    max-width: 570px;
  }

  .form__input {
    width: 101%;
  }

  .footer__user-agreement__btn {
    margin-right: 18px;
    padding: 19px 37px;
  }

}

@media (max-width: 1000px) {

  /* header */

  .header {
    max-height: 69px;
  }

  .header__container {
    padding: 10px 50px;
  }

  .burger__line:first-child {
    top: -2px;
  }

  .burger__line:last-child {
    bottom: 2px;
  }

  .burger__line:nth-child(2) {
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger-nav {
    padding: 22px 50px 50px;
    border-radius: 0px 0px 24px 24px;
  }

  .burger-nav__close {
    margin-bottom: 105px;
  }


  /* slider */

  .slider__container {
    padding: 40px 50px 20px;
  }

  .slider__content {
    padding: 161px 41px 30px 41px;
    border-radius: 24px;
    min-height: 663px;
  }

  .slide-1 {
    background-image: url('../img/slider-768-1.jpg');
    border-radius: 24px;
  }

  .slide-2 {
    background-image: url('../img/slider-768-2.jpg');
    border-radius: 24px;
  }

  .slide-3 {
    background-image: url('../img/slider-768-3.jpg');
    border-radius: 24px;
  }

  .main__h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 16px;
  }

  .slider__text__descr {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
    max-width: 95%;
  }

  /* about-us */

  .about-us__container {
    padding: 17px 50px 50px;
  }

  .about-us__descr {
    margin-bottom: 53px;
  }

  .about-us__blocks__left-side {
    background: url('../img/about-us-1-768.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 649px;
    border-radius: 24px;
  }

  .about-us__blocks__left-side__overlay {
    padding: 35px 39px 32px 40px;
    border-radius: 24px;
  }

  .about-us__blocks__left-side__overlay__descr {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    max-width: 366px;
  }

  .about-us__blocks__right-side__top-block .about-us__blocks__right-side__text {
    background: url('../img/box-768.png') no-repeat;
    padding-left: 130px;
    background-position: left;
  }

  .about-us__blocks__right-side__top-block {
    padding: 36px 45px 33px 39px;
  }

  .about-us__blocks__right-side__down-block .about-us__blocks__right-side__text {
    background: url('../img/cog-768.png') no-repeat;
    padding-left: 130px;
    background-position: left;
  }

  .about-us__blocks__right-side__down-block {
    padding: 36px 45px 33px 39px;
  }

  /* working-process */

  .working-process__container {
    padding: 30px 50px 18px;
  }

  .tabs-list__items:not(:last-child) {
    margin-right: 144px;
  }

  .tabs-list {
    margin-bottom: 26px;
  }

  .tabs-content {
    min-height: 515px;
  }

  .working-process .main__h3 {
    padding-top: 339px;
    min-width: 100%
  }

  .tabs-item__descr {
    max-width: 100%;
  }

  .tabs-item::before {
    left: 0%;
    max-width: 668px;
    background-size: contain;
    width: 100%;
    max-height: 300px;
  }

  .tabs-item[data-target="one"]::before {
    background-image: url('../img/working-process-1-768.jpg');
  }

  .tabs-item[data-target="two"]::before {
    background-image: url('../img/working-process-768-2.jpg');
    left: 0%;
  }

  .tabs-item[data-target="three"]::before {
    background-image: url('../img/working-process-768-3.jpg');
  }

  .tabs-item[data-target="four"]::before {
    background-image: url('../img/working-process-768-4.jpg');
    left: 0%;
  }

  .working-process__slider-block {
    padding-top: 335px;
  }

  /* faq */

  .faq__container {
    padding: 32px 50px 110px;
  }

  .faq__accordion__top {
    padding-top: 31px;
  }

  .faq__accordion__items__text {
    max-width: 570px;
    line-height: 32px;
  }

  /* footer */

  .footer__container {
    padding: 50px;
  }

  .footer__all-blocks {
    flex-direction: column-reverse;
  }

  .footer__list {
    display: none;
  }

  .footer__all-blocks__centr-block {
    max-width: 541px;
  }

  .form__input {
    width: 100%;
  }

  .form__input__textarea {
    margin-bottom: 34px;
  }

  .footer__user-agreement__btn {
    margin-right: 23px;
  }

  .footer__user-agreement {
    margin-bottom: 48px;
  }

  .footer__logo img {
    margin-bottom: 12px;
  }
}

@media (max-width: 725px) {

  .container {
    padding: 0 15px;
  }

  .btn {
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .main__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  /* header */

  .header {
    border-radius: 0 0 16px 16px;
  }

  .header__container {
    padding: 17px 15px;
  }

  .header__logo img {
    width: 110px;
  }

  .search-form__input {
    min-width: 350px;
  }

  /* slider */

  .slider__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .slider__content {
    padding: 60px 15px 10px;
    border-radius: 16px;
    min-height: 308px;
  }

  .main__h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
  }

  .slider__text {
    max-width: 837px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__text__descr {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 33px;
    width: 100%;
  }

  .slider__btn {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px;
    border-radius: 8px;
    align-self: center;
  }

  .slider__list {
    margin-top: 30px;
  }

  .slider__items svg {
    width: 10px;
    height: 10px;
  }

  /* about-us */

  .about-us__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-us .main__h2 {
    margin-bottom: 21px;
  }

  .about-us__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .about-us__blocks__left-side {
    background: url('../img/about-us-1-320.jpg') no-repeat;
    min-height: 200px;
    margin-bottom: 9px;
    background-position: center;
  }

  .about-us__blocks__left-side__overlay {
    display: none;
  }

  .about-us__hidden-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us__hidden-block__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 11px;
    text-align: center;
  }

  .about-us__hidden-block__btn {
    border: 2px solid var(--default-color);
    border-radius: 8px;
    color: var(--default-color);
    padding: 10px 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 33px;
    align-self: center;
    transition-property: backgound-color, color, border;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .about-us__hidden-block__btn:hover {
    background-color: var(--default-color);
    color: white;
  }

  .about-us__hidden-block__btn:focus {
    background-color: var(--default-color);
    color: white;
    outline-offset: 3px;
    outline: 1px solid #333;
  }

  .about-us__hidden-block__btn:active {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
  }

  .about-us__blocks__right-side__top-block {
    border: none;
    padding: 0;
  }

  .about-us__blocks__right-side__text .main__h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__blocks__right-side__text__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-top: 5px;
    max-width: max-content;
  }

  .about-us__blocks__right-side__top-block .about-us__blocks__right-side__text {
    background: url(../img/box-320.png) no-repeat;
    padding-top: 60px;
    padding-left: 0;
    font-style: normal;
  }

  .about-us__blocks__right-side__down-block {
    border: none;
    padding: 0;
  }

  .about-us__blocks__right-side__down-block .about-us__blocks__right-side__text {
    background: url(../img/cog-320.png) no-repeat;
    padding-top: 60px;
    padding-left: 0;
    font-style: normal;
  }

  /* working-process */

  .working-process__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .working-process .main__h2 {
    margin-bottom: 21px;
  }

  .tabs-list {
    margin-bottom: 15px;
  }

  .working-process__items {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .tabs-list__items:not(:last-child) {
    margin-right: 44px;
  }

  .working-process__slider-block {
    padding-top: 176px;
  }

  .working-process__slider-block::before {
    background: url('../img/working-process-1-320.jpg') no-repeat;
  }

  .working-process .main__h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .tabs-item__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 53px;
  }

  .working-process__btn .btn {
    padding: 10px 44px;
  }

  .working-process__btn .working-process__btn__contract {
    padding: 10px 30px;
  }

  .working-process__btn__detailed {
    margin-right: 10px;
  }

  /* faq */

  .faq__container {
    padding-top: 30px;
    padding-bottom: 61px;
  }

  .faq__container .main__h2 {
    margin-bottom: 17px;
  }

  .faq__accordion__btn {
    border-radius: 100%;
    font-size: 45px;
    width: 30px;
    height: 30px;
    font-weight: 100;
  }

  .faq__accordion__items__text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }

  .faq__accordion__btn svg {
    width: 30px;
    height: 30px;
  }

  /* footer */

  .footer__container {
    padding-bottom: 25px;
    padding-top: 33px;
  }

  .footer__h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__all-blocks__centr-block {
    max-width: 100%;
    border-bottom: 1px solid var(--gray-color);
  }

  .footer__form {
    align-items: center;
  }

  .form__input {
    padding: 20px 19px;
  }

  .form__input__textarea {
    margin-bottom: 23px;
  }

  .footer__user-agreement__btn {
    padding: 12px 28px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__user-agreement {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .footer__all-blocks__left-block {
    align-items: center;
  }

  .footer__logo img {
    width: 131px;
    margin: 0;
  }

  .footer__list__socials {
    padding: 13px 0 0;
  }

  .footer__items__socials:not(:last-child) {
    margin-right: 0;
  }

  .footer__items__socials__links svg {
    width: 40px;
    height: 40px;
  }

  .footer__items__socials:not(:last-child) {
    margin-right: 16px;
  }

  .footer__logo {
    margin-top: 16px;
  }
}

@media (max-width: 500px) {

  /* header */

  .burger-nav {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 16px 16px;
    width: 100%;
    padding: 23px 15px 15px;
  }

  .burger-nav__close {
    margin-bottom: 32px;
  }

  .burger-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .burger-nav__item__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .search-form {
    padding: 21px 15px;
    width: 320px;
    transform: translate(-88%, -70%);
    border-radius: 0px 0px 24px 24px;
  }

  .search-form__input {
    min-width: 222px;
    margin-right: 1px;
  }

  .search-form .loupe {
    margin-right: auto;
  }

  /* slider */

  .slider__content {
    min-height: 308px;
  }


  .slide-1 {
    background-image: url('../img/slider-320-1.jpg');
    border-radius: 16px;
  }

  .slide-2 {
    background-image: url('../img/slider-320-2.jpg');
    border-radius: 16px;
  }

  .slide-3 {
    background-image: url('../img/slider-320-3.jpg');
    border-radius: 16px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* about-us */

  .about-us__blocks__left-side {
    background-position: left;
    border-radius: 0;
  }

  .about-us__hidden-block__descr {
    text-align: left;
  }

  .about-us__hidden-block__btn {
    align-self: flex-start;
  }

  /* working-process */

  .tabs-list__items {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
  }

  .tabs-list__items:not(:last-child) {
    margin-right: 44px;
  }

  .tabs-list {
    margin-bottom: -11px;
  }

  .working-process .main__h3 {
    padding-top: 196px;
  }

  .tabs-item[data-target="one"]::before {
    background-image: url('../img/working-process-1-320.jpg');
    background-size: auto;
  }

  .tabs-item[data-target="two"]::before {
    background-image: url('../img/working-process-320-2.jpg');
    background-size: auto;
  }

  .tabs-item[data-target="three"]::before {
    background-image: url('../img/working-process-320-3.jpg');
    background-size: auto;
  }

  .tabs-item[data-target="four"]::before {
    background-image: url('../img/working-process-320-4.jpg');
    background-size: auto;
  }

  /* faq */

  .faq__accordion__top {
    padding-top: 31px;
  }

  /* footer */

  .footer__h3 {
    text-align: left;
  }

  .footer__user-agreement__btn {
    margin-bottom: 14px;
  }

}
